include ../../blocks/palette/palette
include ../../blocks/ui-kit/__header/ui-kit__header

doctype html
html.ui-kit
    head
        meta(charset="utf-8")
        title
    block title
    header.ui-kit__header
        +uikit-header
    +palette